# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
data/uploads/*
data/reports/*
data/database/*.db
data/embeddings/*
data/search_indexes/*/*
!data/search_indexes/.gitkeep
!data/search_indexes/*/.gitkeep
!data/source_documents/.gitkeep
data/extracted_documents/*
!data/extracted_documents/.gitkeep
data/chunked_documents/*
!data/chunked_documents/guidebook_chunked_documents/
!data/chunked_documents/.gitkeep
logs/*
!data/README.md
!data/.gitkeep

# Docker
.dockerignore

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version